@import url(https://fonts.google.com/specimen/Roboto?query=Christian+Robertson);

body {
    font-family: 'roboto', Helvetica, sans-serif;
    max-width: 960px;
    padding: 20px;
    background-color: #cafbff;
}

:root {
    --primary-color: #3586A4;
    --secondary-color: #2BA77E;
    --accent1-color: #044233;
    --accent2-color:#76CED5;

    --heading-font: 'Roboto', Helvetica, sans-serif;
    --paragrahp-font: 'Roboto', Helvetica, sans-serif;

    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--secondary-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--accent2-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: var(--accent1-color)
}

header {
    padding: 50px;
    background-color: #9ce9cf;
    width: 1200px;
    text-align: center;
}
p {
    padding: 25px;
}

nav {
    background-color: #9ce9cf;
    padding: 10px;
    width: 1250px;
    display: flex;
    text-align: center;
}

nav a {
    display: block;
    color: var(--primary-color)
    text-decoration none;
    padding:1%;
    text-align: center;
}
nav a:link, nav a:visited {
    color: var(--accent1-color);
}
nav a:hover {
    color: var(--accent2-color);
    background-color: #020303;
}

footer {
    margin-top: 10px;
    border-top: 1px solid #002c55;
    text-align:center;
}
